{% extends 'base.html.twig' %}

{% block title %}New Book
{% endblock %}

{% block body %}
	<h1>Creer nouveau livre
	</h1>

	{{ include('book/_form.html.twig') }}

	<a href="{{ path('app_book_index') }}">back to list</a>
{% endblock %}
