{% extends 'base.html.twig' %}

{% block title %}Emprunter un livre
{% endblock %}

{% block body %}
	<h1>Emprunter un livre</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">Emprunter</button>
	{{ form_end(form) }}
{% endblock %}
